n8n_workflow/v3_merge.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "56d08bdf-afa2-429d-b031-727a365360e6",
      "name": "Execute workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-1344, 752]
    },
    {
      "parameters": {
        "content": "## File naming convention when uploading file to Drive\n\nUpload file to the \"Blogs\" folder in \"Marketing\". Make sure it contains **Content** if it is a content file and **Preview** if it is a preview file\n\n### Expected Snippet Formats:\n\n**Blog Post Content Snippet:**\n```typescript\nexport const newBlogPost: BlogPostContent = {\n  slug: 'new-blog-post',\n  title: 'New Blog Post Title',\n  date: '2025-01-20',\n  authors: ['Author Name'],\n  tags: ['tag1', 'tag2'],\n  image: '/image.jpg',\n  excerpt: 'Blog post excerpt...',\n  content: 'Blog post content...',\n  richContent: [...]\n};\n```\n\n**Blog Preview Snippet:**\n```typescript\nexport const newBlogPreview: BlogPreview = {\n  slug: 'new-blog-post',\n  title: 'New Blog Post Title',\n  date: '2025-01-20',\n  excerpt: 'Blog post excerpt...',\n  image: '/image.jpg'\n};\n```",
        "height": 688,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-1504, -656],
      "typeVersion": 1,
      "id": "0b4c124f-2e9f-47a0-b44f-c036c7d5abd2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "auto",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "13QWBCMlAPeTd2UKpTDOsAGFefJBmJFIA",
            "mode": "list",
            "cachedResultName": "blogcontent",
            "cachedResultUrl": "https://drive.google.com/drive/folders/13QWBCMlAPeTd2UKpTDOsAGFefJBmJFIA"
          },
          "whatToSearch": "files"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-448, 624],
      "id": "d3294d3c-0724-4e7d-8b51-ddf76c28e5d4",
      "name": "Search for blogPostContent snippet1",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2vg1fSo8hu2qFmjI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-272, 624],
      "id": "c0ac6cc3-0246-443f-996f-ef851b38d55b",
      "name": "Download snippet from Google Drive1",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2vg1fSo8hu2qFmjI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "chefmatteo",
        "repository": "Examify.pro-BlogPostContent",
        "filePath": "data/blogPostContent.ts",
        "additionalParameters": {}
      },
      "id": "626af807-33a1-436c-915b-b561dd168cfc",
      "name": "Get GitHub blogPostContent.ts2",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [-64, 640],
      "webhookId": "73e2fcde-3956-43c7-aca9-f7237fd4ff11",
      "credentials": {
        "githubApi": {
          "id": "xPxf1slGiyx1TGdN",
          "name": "chefmatteo_testing_blog_integration"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Decode base64 content from GitHub\nconst githubContent = Buffer.from($input.first().json.content, 'base64').toString('utf8');\nreturn [{ json: { githubContent, fileName: 'blogPostContent.ts' } }];"
      },
      "id": "91393db0-c2c8-43c4-b1fc-79a526d37a2f",
      "name": "Decode GitHub Content2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [128, 640]
    },
    {
      "parameters": {
        "functionCode": "// Extract snippet from downloaded file\nconst snippet = Buffer.from($input.first().json.data, 'base64').toString('utf8');\n\n// Basic validation - check if it contains required elements\nif (!snippet.includes('slug') || !snippet.includes('title') || !snippet.includes('date')) {\n  throw new Error('Snippet must contain slug, title, and date fields');\n}\n\n// Check if it's a blog post snippet\nif (snippet.includes('newBlogPost') || snippet.includes('content') || snippet.includes('richContent')) {\n  return [{ json: { \n    validSnippet: true, \n    snippet: snippet,\n    originalSnippet: snippet,\n    fileName: 'blogPostContent-snippet',\n    snippetType: 'blogPost'\n  } }];\n}\n\n// Check if it's a blog preview snippet\nif (snippet.includes('newBlogPreview') || snippet.includes('excerpt')) {\n  return [{ json: { \n    validSnippet: true, \n    snippet: snippet,\n    originalSnippet: snippet,\n    fileName: 'blogPreviews-snippet',\n    snippetType: 'blogPreview'\n  } }];\n}\n\nthrow new Error('Snippet must be either a blog post or blog preview format');"
      },
      "id": "75fad90c-e4db-46c6-9ba0-cbb06c4fe360",
      "name": "Validate Snippet2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [-64, 496]
    },
    {
      "parameters": {
        "functionCode": "// Use Python script to extract GitHub content\nconst { exec } = require('child_process');\nconst util = require('util');\nconst execAsync = util.promisify(exec);\n\nconst githubContent = $input.first().json.content;\nconst contentType = 'blogPostContent';\n\n// Call Python script\nconst pythonScript = './compare_node/extract_github_content.py';\nconst command = `python3 ${pythonScript} ${contentType} \"${githubContent}\"`;\n\ntry {\n  const { stdout, stderr } = await execAsync(command);\n  \n  if (stderr) {\n    throw new Error(`Python script error: ${stderr}`);\n  }\n  \n  const result = JSON.parse(stdout);\n  \n  if (result.error) {\n    throw new Error(result.error);\n  }\n  \n  return [{ json: { \n    githubContent: result.rawContent,\n    extractedContent: result.blogPostContent,\n    fileName: 'blogPostContent.ts'\n  } }];\n} catch (error) {\n  throw new Error(`Failed to extract GitHub content: ${error.message}`);\n}"
      },
      "id": "extract-github-content",
      "name": "Extract GitHub Content",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [128, 640]
    },
    {
      "parameters": {
        "functionCode": "// Use Python script to compare content\nconst { exec } = require('child_process');\nconst util = require('util');\nconst execAsync = util.promisify(exec);\n\nconst githubContent = $('Extract GitHub Content').item.json.githubContent;\nconst snippetContent = $('Validate Snippet2').item.json.snippet;\nconst contentType = 'blogPostContent';\n\n// Call Python script\nconst pythonScript = './compare_node/compare_content.py';\nconst command = `python3 ${pythonScript} ${contentType} \"${githubContent}\" \"${snippetContent}\"`;\n\ntry {\n  const { stdout, stderr } = await execAsync(command);\n  \n  if (stderr) {\n    throw new Error(`Python script error: ${stderr}`);\n  }\n  \n  const result = JSON.parse(stdout);\n  \n  if (result.error) {\n    throw new Error(result.error);\n  }\n  \n  return [{ json: { \n    hasChanges: result.hasChanges,\n    existingCount: result.existingCount,\n    newCount: result.newCount,\n    newPost: result.newPost,\n    mergedContent: result.mergedContent,\n    message: result.message || null,\n    error: result.error || null\n  } }];\n} catch (error) {\n  throw new Error(`Failed to compare content: ${error.message}`);\n}"
      },
      "id": "compare-content-python",
      "name": "Compare Content Python",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [320, 624]
    },
    {
      "parameters": {
        "functionCode": "// Parse existing GitHub content and merge with new snippet\nconst existingContent = $('Extract GitHub Content').item.json.extractedContent;\nconst newSnippet = $('Validate Snippet2').item.json.snippet;\n\n// Extract blogPostContent array from existing file\nconst existingMatch = existingContent.match(/export const blogPostContent = (\\[.*?\\]);/s);\nconst existingArray = existingMatch ? JSON.parse(existingMatch[1]) : [];\n\n// Extract new blog post from snippet\nconst snippetMatch = newSnippet.match(/export const newBlogPost = (\\{.*?\\});/s);\nconst newBlogPost = snippetMatch ? JSON.parse(snippetMatch[1]) : null;\n\nif (!newBlogPost) {\n  throw new Error('Invalid snippet format - could not extract newBlogPost');\n}\n\n// Check for duplicate slug\nconst existingSlugs = existingArray.map(post => post.slug);\nif (existingSlugs.includes(newBlogPost.slug)) {\n  throw new Error(`Blog post with slug '${newBlogPost.slug}' already exists`);\n}\n\n// Merge content\nconst mergedArray = [...existingArray, newBlogPost];\n\n// Generate updated TypeScript file\nconst updatedContent = `export const blogPostContent = ${JSON.stringify(mergedArray, null, 2)};`;\n\nreturn [{ json: { mergedContent: updatedContent, newPostCount: mergedArray.length, addedSlug: newBlogPost.slug } }];"
      },
      "id": "d458b0cd-b4e3-4066-bff5-26c74acd3e75",
      "name": "Merge Content2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [512, 512]
    },
    {
      "parameters": {
        "functionCode": "// Check for potential issues in merged content\nconst mergedContent = $input.first().json.mergedContent;\n\n// Validate TypeScript syntax\nif (!mergedContent.includes('export const blogPostContent')) {\n  throw new Error('Merged content missing required export statement');\n}\n\n// Check for valid JSON structure\ntry {\n  const contentMatch = mergedContent.match(/export const blogPostContent = (\\[.*?\\]);/s);\n  if (contentMatch) {\n    JSON.parse(contentMatch[1]);\n  }\n} catch (error) {\n  throw new Error('Invalid JSON structure in merged content');\n}\n\nreturn [{ json: { safeContent: true, contentLength: mergedContent.length } }];"
      },
      "id": "84bf2676-a3e7-41ee-b65d-3aaaa45d0e41",
      "name": "Content Safety Check2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [704, 512]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "chefmatteo",
        "repository": "Examify.pro-BlogPostContent",
        "filePath": "data/blogPostContent.ts",
        "fileContent": "[empty]",
        "commitMessage": "Auto-merge new blog post from Google Drive snippet: {{ $json.formattedDate }}"
      },
      "id": "567f45d6-981a-4a6d-a963-252c70fe8575",
      "name": "Update GitHub with Merged Content2",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [896, 512],
      "webhookId": "a8d0f9e6-87eb-4578-8ce6-9e6f3fa300ae",
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "xPxf1slGiyx1TGdN",
          "name": "chefmatteo_testing_blog_integration"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Log successful merge\nconst addedSlug = $('Merge Content').item.json.addedSlug;\nconst newPostCount = $('Merge Content').item.json.newPostCount;\n\nreturn [{ json: { \n  message: `Successfully merged new blog post: ${addedSlug}`,\n  totalPosts: newPostCount,\n  timestamp: new Date().toISOString(),\n  action: 'merge_success'\n} }];"
      },
      "id": "180a06f2-7389-48a6-b0b6-60a438a6ac0b",
      "name": "Log Success2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1088, 512]
    },
    {
      "parameters": {
        "functionCode": "// Log no action needed\nreturn [{ json: { \n  message: 'Content is identical - no update needed',\n  timestamp: new Date().toISOString(),\n  action: 'no_action'\n} }];"
      },
      "id": "c85673c6-7ff2-47bf-a22e-c51f2a517429",
      "name": "Log No Action2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [512, 736]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "auto",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "14Wlp8CJ8sl25dJTWeXIeWkZTw-nmiOX_",
            "mode": "list",
            "cachedResultName": "blogpreview",
            "cachedResultUrl": "https://drive.google.com/drive/folders/14Wlp8CJ8sl25dJTWeXIeWkZTw-nmiOX_"
          },
          "whatToSearch": "files"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-448, 832],
      "id": "244cd3b3-cbd9-4db7-aff1-932942497b77",
      "name": "Search for blogPreviews snippet1",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2vg1fSo8hu2qFmjI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-256, 832],
      "id": "53443d23-b6f7-4cc2-9cf6-28e9539b86e0",
      "name": "Download preview snippet from Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2vg1fSo8hu2qFmjI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "chefmatteo",
        "repository": "Examify.pro-BlogPostContent",
        "filePath": "data/blogPreviews.ts",
        "additionalParameters": {}
      },
      "id": "cae376bc-2e64-46cf-9be1-8090ddc7c887",
      "name": "Get GitHub blogPreviews.ts2",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [-64, 800],
      "webhookId": "07b62aa6-12b2-42a0-8be4-25a06e2dedde",
      "credentials": {
        "githubApi": {
          "id": "xPxf1slGiyx1TGdN",
          "name": "chefmatteo_testing_blog_integration"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Validate preview snippet format\nconst snippet = Buffer.from($input.first().json.data, 'base64').toString('utf8');\n\n// Check for required export\nif (!snippet.includes('export const newBlogPreview')) {\n  throw new Error('Preview snippet must contain \"export const newBlogPreview\"');\n}\n\n// Check for required fields\nconst requiredFields = ['slug', 'title', 'date', 'excerpt'];\nconst missingFields = requiredFields.filter(field => !snippet.includes(field));\n\nif (missingFields.length > 0) {\n  throw new Error(`Missing required fields: ${missingFields.join(', ')}`);\n}\n\nreturn [{ json: { validSnippet: true, snippet, fileName: 'blogPreviews-snippet' } }];"
      },
      "id": "d1a0ea12-3225-4bfa-b5a3-bb0505989e65",
      "name": "Validate Preview Snippet2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [-64, 960]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Validate Snippet2').item.json.snippet }}",
              "operation": "equals",
              "value2": "={{ $('Extract GitHub Content').item.json.extractedContent }}"
            }
          ]
        }
      },
      "id": "5e25313b-5348-4ac8-ae9e-2efd38f09d24",
      "name": "Compare Content2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [320, 624]
    },
    {
      "parameters": {
        "functionCode": "// Parse existing GitHub content and merge with new preview snippet\nconst existingContent = $('Extract GitHub Content').item.json.extractedContent;\nconst newSnippet = $('Validate Preview Snippet').item.json.snippet;\n\n// Extract blogPreviews array from existing file\nconst existingMatch = existingContent.match(/export const blogPreviews = (\\[.*?\\]);/s);\nconst existingArray = existingMatch ? JSON.parse(existingMatch[1]) : [];\n\n// Extract new blog preview from snippet\nconst snippetMatch = newSnippet.match(/export const newBlogPreview = (\\{.*?\\});/s);\nconst newBlogPreview = snippetMatch ? JSON.parse(snippetMatch[1]) : null;\n\nif (!newBlogPreview) {\n  throw new Error('Invalid snippet format - could not extract newBlogPreview');\n}\n\n// Check for duplicate slug\nconst existingSlugs = existingArray.map(preview => preview.slug);\nif (existingSlugs.includes(newBlogPreview.slug)) {\n  throw new Error(`Blog preview with slug '${newBlogPreview.slug}' already exists`);\n}\n\n// Merge content\nconst mergedArray = [...existingArray, newBlogPreview];\n\n// Generate updated TypeScript file\nconst updatedContent = `export const blogPreviews = ${JSON.stringify(mergedArray, null, 2)};`;\n\nreturn [{ json: { mergedContent: updatedContent, newPreviewCount: mergedArray.length, addedSlug: newBlogPreview.slug } }];"
      },
      "id": "6f7ceec8-cb96-456f-85fa-8f6ddd87e5e9",
      "name": "Merge Preview Content2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [512, 928]
    },
    {
      "parameters": {
        "functionCode": "// Check for potential issues in merged preview content\nconst mergedContent = $input.first().json.mergedContent;\n\n// Validate TypeScript syntax\nif (!mergedContent.includes('export const blogPreviews')) {\n  throw new Error('Merged preview content missing required export statement');\n}\n\n// Check for valid JSON structure\ntry {\n  const contentMatch = mergedContent.match(/export const blogPreviews = (\\[.*?\\]);/s);\n  if (contentMatch) {\n    JSON.parse(contentMatch[1]);\n  }\n} catch (error) {\n  throw new Error('Invalid JSON structure in merged preview content');\n}\n\nreturn [{ json: { safeContent: true, contentLength: mergedContent.length } }];"
      },
      "id": "544e5c9d-4335-401e-b72f-2ca4add44752",
      "name": "Preview Safety Check2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [704, 928]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "chefmatteo",
        "repository": "Examify.pro-BlogPostContent",
        "filePath": "data/blogPreviews.ts",
        "fileContent": "[empty]",
        "commitMessage": "Auto-merge new blog preview from Google Drive snippet: {{ $json.formattedDate }}"
      },
      "id": "ad710d33-e6a9-4eb3-9202-5ba6abf80b19",
      "name": "Update GitHub with Merged Preview2",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [896, 928],
      "webhookId": "45d18e49-4ac4-471b-af2e-7eec33da7075",
      "credentials": {
        "githubApi": {
          "id": "xPxf1slGiyx1TGdN",
          "name": "chefmatteo_testing_blog_integration"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Log successful preview merge\nconst addedSlug = $('Merge Preview Content').item.json.addedSlug;\nconst newPreviewCount = $('Merge Preview Content').item.json.newPreviewCount;\n\nreturn [{ json: { \n  message: `Successfully merged new blog preview: ${addedSlug}`,\n  totalPreviews: newPreviewCount,\n  timestamp: new Date().toISOString(),\n  action: 'preview_merge_success'\n} }];"
      },
      "id": "6ca76c5b-7c56-4b91-9ad1-d5308697ea70",
      "name": "Log Preview Success2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1088, 928]
    },
    {
      "parameters": {
        "functionCode": "// Log no action needed for preview\nreturn [{ json: { \n  message: 'Preview content is identical - no update needed',\n  timestamp: new Date().toISOString(),\n  action: 'preview_no_action'\n} }];"
      },
      "id": "66832ba1-ef4d-4563-82f7-7e589519f62a",
      "name": "Log Preview No Action2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [512, 1152]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "commitDate",
              "value": "={{ $json.formattedDate }}"
            }
          ]
        },
        "options": {}
      },
      "id": "581aadc8-914f-4327-89d1-dd4c3e99a9ba",
      "name": "Set commit date2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [-656, 752]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "dc7f895b-c9ab-48f7-add0-fbb7e3a7d5e5",
      "name": "Set date1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [-1088, 752]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "dd-MM-yyyy/H:mm",
        "options": {}
      },
      "id": "6170d1c4-ec16-4a84-b28a-d40ae5f24a04",
      "name": "Format date2",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [-880, 752]
    },
    {
      "parameters": {
        "functionCode": "// Decode base64 content from GitHub\nconst githubContent = Buffer.from($input.first().json.content, 'base64').toString('utf8');\nreturn [{ json: { githubContent, fileName: 'blogPostContent.ts' } }];"
      },
      "id": "09155f91-33c5-4999-b900-c6e38a175599",
      "name": "Decode GitHub Content3",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [128, 816]
    }
  ],
  "connections": {
    "Execute workflow": {
      "main": [
        [
          {
            "node": "Set date1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for blogPostContent snippet1": {
      "main": [
        [
          {
            "node": "Download snippet from Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download snippet from Google Drive1": {
      "main": [
        [
          {
            "node": "Validate Snippet2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get GitHub blogPostContent.ts2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Snippet2": {
      "main": [
        [
          {
            "node": "Compare Content Python",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GitHub blogPostContent.ts2": {
      "main": [
        [
          {
            "node": "Extract GitHub Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract GitHub Content": {
      "main": [
        [
          {
            "node": "Compare Content Python",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Content Python": {
      "main": [
        [
          {
            "node": "Merge Content2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log No Action2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Content2": {
      "main": [
        [
          {
            "node": "Content Safety Check2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Safety Check2": {
      "main": [
        [
          {
            "node": "Update GitHub with Merged Content2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update GitHub with Merged Content2": {
      "main": [
        [
          {
            "node": "Log Success2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for blogPreviews snippet1": {
      "main": [
        [
          {
            "node": "Download preview snippet from Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download preview snippet from Google Drive1": {
      "main": [
        [
          {
            "node": "Validate Preview Snippet2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get GitHub blogPreviews.ts2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GitHub blogPreviews.ts2": {
      "main": [
        [
          {
            "node": "Decode GitHub Content3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Preview Snippet2": {
      "main": [
        [
          {
            "node": "Compare Preview Content2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Preview Content2": {
      "main": [
        [
          {
            "node": "Merge Preview Content2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Preview No Action2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Preview Content2": {
      "main": [
        [
          {
            "node": "Preview Safety Check2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preview Safety Check2": {
      "main": [
        [
          {
            "node": "Update GitHub with Merged Preview2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update GitHub with Merged Preview2": {
      "main": [
        [
          {
            "node": "Log Preview Success2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set commit date2": {
      "main": [
        [
          {
            "node": "Search for blogPostContent snippet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search for blogPreviews snippet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set date1": {
      "main": [
        [
          {
            "node": "Format date2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format date2": {
      "main": [
        [
          {
            "node": "Set commit date2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode GitHub Content3": {
      "main": [
        [
          {
            "node": "Compare Preview Content2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7efb57ee463638d3638e3e4571358ef61feadec8ab43d6c81603ac733931cb3a"
  }
}
